.btn {
  width: 80px;
  padding: 3px;
  text-align: center;
  font-size: 15px;
  /* display: flex; */

  color: white;
  text-align: center;
  margin-left: 100px;
}
.btn:hover {
  color: rgb(253, 253, 117);
  font-weight: bold;
  background-color: #092312;
  border: 1px solid #00ff0a;
  border-radius: 40px;
}
.links {
  width: 90%;
  padding: 8px;
  margin: 8px;
}
.links:hover {
  border: 1px solid white;
  border-radius: 48px;
}

.scroll {
  margin: auto;
  width: 90%;
  padding: 30px;
}
.carousel {
  display: flex;
}
